<!DOCTYPE html> 
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title><title> CSE 341 Electronics App</title>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<header>
    <span class="siteName">
      <a href="/login" title="Return to home page">Electronics App API</a>
    </span>
</header>
<body> 
    <main>
        <form action="/login" method="POST" class="login-form">
            <label for="username">Username:
            <input type="text" name="username" required /></label>
            <label for="password">Password:
            <input type="password" name="password" required /></label>
            <button type="submit">Login</button>
            <div>
                <p>Or <a href="/auth/github">Login with GitHub</a></p>
                <p><a href="/register">Don't have an account? Register here.</a></p> 
            </div>
          </form>       
    </main>
    <footer>
        <p class="copyright">&copy;2024, CSE 341 App</p>
    </footer>
</body> 
</html>